faiss-cpu
streamlit
google-cloud-storage
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-bigquery-storage
requests
langchain
langchain-text-splitters
sentence-transformers
pymupdf
db-dtypes
pandas
